.modal{
    display:flex;
    justify-content: flex-end;
    position: fixed;
    top: 57%;
    left:70%;
    height: 40%;
    width:30%;
    z-index: 2;
}

.textBubbleContainer{
    
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 12%;
    background-image: url("../HTMLimages/bubble.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    max-width: 70%;
    height: 70%;
    position: relative;
    left: 13%;
    bottom: 20%

}
.textBubbleContainer.hidden{
    display: none;
    
}

  .textbox{
    height: auto;
    text-align: center;
    font-size: 1.25vw;
    max-width: 125%;

  }
  .garyCont{
      top: 65%;
      left: 82%;
      width: 30%;
      height: 100%;
      display: flex;
      align-items: flex-end

  }
  .gary {
      height: 65%;
      width: auto;
  }

