
:root{
    box-sizing: border-box;
}
*,*::before, *::after{
    box-sizing: inherit;
}
header {
    display: flex;
    height: 15vh;
    border: 1px solid black;
    margin: 5px;
    justify-content: space-around;
    align-items: center
}
nav {
    display: flex;
    height: 10vh;
    border: 1px solid black;
    margin: 5px;
    justify-content: space-around;
    align-items: center
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
.apiTile {
    width: 35%;
    height: 25vh;
    border: 1px solid black;
    margin: 5px;
}
a {
    margin: 5px;
    border: 1px solid black;
    height: 85%;
    width: 23%
}
.logo {
    margin: 2px;
    border: 1px solid black;
    height: 92%;
    flex-grow: 1;
}
.timer {
    margin: 2px;
    border: 1px solid black;
    height: 92%;
    width: 25%;
}
.modal{
    order: 4;
    display:flex;
    justify-content: flex-end;
    position: relative;
    z-index: -2;
    /* background-color: rgba(0, 0, 0, 0); */
}

.textBubbleContainer{
    
    /* border: solid; */
    position: relative;
    bottom: 10rem;
    left:  4rem;
    border-radius: 50%;
    z-index: 9;
}

.text-block {
    
    
    z-index: 10;
    padding: 3rem 3rem;
    position: absolute;
    bottom: 30%;
    right: 15%;
    color: black;
    background-image: url("../HTMLimages/bubble.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    /* padding-left: 20px;
    padding-right: 20px; */
  }
