<<<<<<< HEAD
=======
:root{
    box-sizing: border-box;}
* , *::before, *::after{
    box-sizing: inherit;
}
>>>>>>> b6503e6e5cac2cc74b14782673b58d249dae2771
body {
    background-color: #CEDADD;
}
.logoBox {
    width: 40%;
}
.logoI {
 max-width: 100%;
 height: auto;
}
.hover-underline-menu {
    width: 100%;
  }
  
.hover-underline-menu .menu {
background-color: #536B78;
}

.hover-underline-menu .menu a {
color: #F2DBB3;
padding: 1.2rem 1.5rem;
}

.hover-underline-menu .menu .underline-from-center {
position: relative;
}

.hover-underline-menu .menu .underline-from-center::after {
content: "";
position: absolute;
top: calc(100% - 0.125rem);
border-bottom: 0.125rem solid #FC9653;
left: 50%;
right: 50%;
transition: all 0.5s ease;
}

.hover-underline-menu .menu .underline-from-center:hover::after {
left: 0;
right: 0;
transition: all 0.5s ease;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9vh;
    list-style: none;
    border-radius: 10px;

}
a {
    text-decoration: none;
    font-size: 1.2rem;
    
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    padding: 0rem 2.5rem;

}
.timer {
    font-family: 'Orbitron', sans-serif;
    border-radius: 5px;
    background-color: black;
    color: #72CC3F;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .75rem 2.5rem;
    padding-top: .9rem;
    border: 2px solid #72CC3F;
    border-radius: 10px;

}
.content {
    height: 60vh;
    width: 80%;
    align-self: center;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: none;
}

.triviaTile {
    width: 45%;
    height: auto;
    border: 5px solid #FC9653;
    border-radius: 5px;
}
.quoteTile {
    width: 45%;
    height: auto;
    border: 5px solid #FC9653;
    border-radius: 5px;
}
.triviaPic{
    max-width: 100%;
}
.quotePic{
    max-width: 100%;
}
.contentH1 {
    width:100%;
    text-align: center
}

  
