
.content {
    height: 60vh;
    width: 80%;
    align-self: center;
    border: 10px solid #FC9653;
    border-radius: 10px;
    margin: auto;
    background-color: white;
}
.topper {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
}
.bContainer {
    display: flex;
    justify-content: center;
}
.question {
    width: 85%;
    font-size: 5vh;
    margin: 0% 5%;
}
.answers {
    list-style: none;    
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0px;
}
.answers li{
    width:100%;
    border: 3px solid #FC9653;
    border-radius: 5px;
    font-size: 3vh;
    padding:0.5vh;
    margin: .5%;
}
@media only screen and (min-width: 768px) {
    .answers {
        list-style: none;    
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 0px;
    }
    .answers li{
        min-width: 40%;
        max-width: 40%;
        border: 3px solid #FC9653;
        border-radius: 5px;
        font-size: 2rem;
        padding: 1%;
        margin: .5%;
    }
}